@font-face {
  font-family: 'yekan';
  src: url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.eot");
  src: url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/41e49eab42867016423011dccc96c22a.svg#YekanBakh-Bold")format("svg");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'yekan',sans-serif;
  font-weight:bold;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(217, 237, 255);
direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {

    
  }
}


.swiper {
  height: 100%;
}
