.projcetLanding {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212529;
  color: #fff;
}
.projectLanidngCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
